/* -------------------------------------------------------------------------- */
/*                              [ Font Families ]                             */
/* -------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");





/* -------------------------------------------------------------------------- */
/*                              [ Variable CSS ]                              */
/* -------------------------------------------------------------------------- */

:root {
  /* ---------- Typography ---------- */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-tertiary: "Inter", sans-serif;

  /* ---------- Colors ---------- */
  --color-lightblue: #fafcff;
  --color-deepskyblue: #00a1d1;
  --color-light-coral: #ee867b;
  --color-lavender-indigo: #905adf;
  --color-maize: #f4c43e;
  --color-blue-sapphire: #096783;
  --color-medium-sky-blue: #7dd7f1;
  --color-aliceblue: #ebf8fc;
  --color-aliceblue-light: #F4FAFC;
  --color-alabaster: #FAFAFA;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-applegreen: #E5F5F1;
  --color-greenhaze: #00997A;
  --color-earlydawn: #FFF9E9;
  --color-lightningyellow: #FAC42D;
  --color-selagoapprox: #F4EEFC;
  --color-lavender: #905bdf;
  --color-remy: #FEE8ED;
  --color-amaranth: #EF1F51;
  --color-forestgreen: #21a845;
  --color-crimson: #f21919;
  --color-silver: #c3c5c6;
  --color-whitesmoke: #f3f3f3;
  --color-gray: #707070;
  --color-darkgray: #515151;
  --color-dimgray: #4c4c4c;
  --color-slategray: #6e6e6e;
  --color-lightest-gray: #f9f9f9;
  --color-ghostwhite: #EBEBEB;
  --color-ashes: #757575;
  --color-silvergray: #929090;
  --color-scrollbar-track: #f1f1f1;
  --color-scrollbar-thumb: #c1c1c1;

  /* ---------- Shadows ---------- */
  --shadow-datatable: 0px 7px 20px rgba(0, 0, 0, 0.05);
  --shadow-datatable-row: 0px 5px 18px rgba(0, 161, 209, 0.1);
  --shadow-sidebar-navigation: 5px 5px 20px rgba(0, 0, 0, 0.12);
  --shadow-search-sidebar: -10px 3px 30px rgba(0, 161, 209, 0.06);
  --shadow-popup: 0px 20px 50px rgba(0, 161, 209, 0.05);
  --shadow-popup: 0px 20px 50px rgba(0, 161, 209, 0.05);
  --shadow-card: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  /* ---------- Overlays ----------  */
  --overlay: rgba(0, 0, 0, 0.5);
}





/* -------------------------------------------------------------------------- */
/*                               [ Global CSS ]                               */
/* -------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: var(--font-secondary);
  /* Disable Text Selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px base */
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
  background-color: var(--color-lightblue);
}

::before,
::after {
  box-sizing: border-box;
}

*>img {
  user-select: none;
  pointer-events: none;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}





/* -------------------------------------------------------------------------- */
/*                                [ Alignments ]                              */
/* -------------------------------------------------------------------------- */

/* ---------- Common ---------- */
.input_area_wrapper {
  max-width: 140rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 5rem;
}

/* Column Input area */
.input_area_columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

/* Two Column Input area */
.input_area_two_columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

/* Three Column Input area */
.input_area_three_columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

/* Four Column Input area */
.input_area_four_columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .input_area_three_columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .input_area_three_columns section:nth-child(3) {
    grid-column: span 2;
  }

  .input_area_four_columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .input_area_four_columns section:nth-child(3),
  .input_area_four_columns section:nth-child(4) {
    grid-column: span 1;
  }
}

@media (max-width: 480px) {
  .input_area_two_columns {
    grid-template-columns: 1fr;
  }

  .input_area_three_columns {
    grid-template-columns: 1fr;
  }

  .input_area_three_columns section {
    grid-column: span 2;
  }

  .input_area_four_columns {
    grid-template-columns: 1fr;
  }

  .input_area_four_columns section {
    grid-column: span 1;
  }
}





/* -------------------------------------------------------------------------- */
/*                          [ Form Components Style ]                         */
/* -------------------------------------------------------------------------- */

/* ---------- Input ---------- */
input {
  color: var(--color-darkgray);
  width: 100%;
  height: 7rem;
  padding: 0 2rem;
  border: 0.1rem solid var(--color-silvergray);
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
}

input::placeholder {
  color: var(--color-darkgray);
}

input:focus {
  color: var(--color-black);
  border: 0.2rem solid var(--color-deepskyblue);
}

.input_label {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.input_label label {
  font-size: 1.6rem;
  font-weight: 400;
}

/* number input (remove up/down arrow) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* ---------- Select ---------- */
.select_container {
  width: 100%;
  position: relative;
  display: inline-block;
}

.select_container::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 2rem;
  font-size: 1.4rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--color-darkgray);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--color-darkgray);
  width: 100%;
  height: 7rem;
  padding: 0 5rem 0 2rem;
  border: 0.1rem solid var(--color-silvergray);
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
}

select option {
  color: var(--color-black);
}

select:focus {
  color: var(--color-black);
  border: 0.2rem solid var(--color-deepskyblue);
  outline: none;
}

/* ---------- Textarea ---------- */
textarea {
  color: var(--color-darkgray);
  width: 100%;
  height: 11rem;
  padding: 2rem;
  border: 0.1rem solid var(--color-silvergray);
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  resize: vertical;
  overflow: auto;
}

textarea::placeholder {
  color: var(--color-darkgray);
}

textarea:focus {
  color: var(--color-black);
  border: 0.2rem solid var(--color-deepskyblue);
}





/* -------------------------------------------------------------------------- */
/*                                 [ Buttons ]                                */
/* -------------------------------------------------------------------------- */

/*  ---------- Buttons Area Columns (Primary) ---------- */
.buttons_area_columns {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.buttons_area_columns .main_button {
  font-size: 2rem;
  font-weight: 500;
  min-height: 6rem;
  padding: 1rem 4.5rem;
}

/* ---------- Buttons Area Columns (Secondary) ---------- */
.buttons_area_columns_secondary {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.buttons_area_columns_secondary .secondary_button {
  font-size: 1.2rem;
  font-weight: 500;
  min-height: 3.5rem;
  padding: 1rem 2rem;
}

/* ---------- Buttons Area Columns (Tertiary) ---------- */
.buttons_area_columns_tertiary {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.buttons_area_columns_tertiary .tertiary_button {
  font-size: 1.4rem;
  font-weight: 500;
  min-height: 3.5rem;
  padding: 0.5rem 1.5rem;
}

/*  ---------- Buttons Area Rows (Primary) ---------- */
.buttons_area_rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

/* Buttons Area Rows > Main Button */
.buttons_area_rows .main_button {
  font-size: 2rem;
  font-weight: 500;
  min-height: 6rem;
  padding: 1rem 4.5rem;
}

/* ---------- Outlined Button (Style) ---------- */
.btn_outlined_primary button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  border: 0.1rem solid var(--color-deepskyblue);
  background-color: var(--transparent);
  color: var(--color-deepskyblue);
}

.btn_outlined_primary button:hover {
  border: 0.1rem solid var(--color-deepskyblue);
  background-color: var(--color-deepskyblue);
  color: var(--color-white);
}

.btn_outlined_primary button:hover img {
  filter: brightness(0) saturate(100%) invert(100%);
}

/* ---------- Fill Button (Style) ---------- */
.btn_fill_primary button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  border: 0.1rem solid var(--color-deepskyblue);
  background-color: var(--color-deepskyblue);
  color: var(--color-white);
}


/* -------------------------------------------------------------------------- */
/*                                   Status                                   */
/* -------------------------------------------------------------------------- */



/* Status data (*-status)  */
.cadd-status-pending,
.cadd-status-resolved,
.cadd-priority-high,
.cadd-priority-medium,
.cadd-priority-low {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border-radius: 1.8rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.cadd-status-resolved {
  background-color: var(--color-applegreen);
  color: var(--color-greenhaze);
}
.cadd-status-pending {
  background-color: var(--color-earlydawn);
  color: var(--color-lightningyellow);
}
.cadd-priority-low{
  background-color: var(--color-applegreen);
  color: var(--color-greenhaze);
}
.cadd-priority-medium {
  background-color: var(--color-earlydawn);
  color: var(--color-lightningyellow);
}
.cadd-priority-high {
  background-color: var(--color-remy);
  color: var(--color-amaranth);
}


/* tatus data (*-dot)  */
active-dot {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--color-forestgreen);
  border-radius: 100%;
  display: inline-block;
}

inactive-dot {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--color-crimson);
  border-radius: 100%;
  display: inline-block;
}


/* -------------------------------------------------------------------------- */
/*                            [ Main Content CSS ]                            */
/* -------------------------------------------------------------------------- */

.main_content {
  flex-grow: 1;
  height: 100vh;
  padding: 2.5rem 3rem 2.5rem 5rem;
  transition: margin-right 0.5s ease;
  overflow-y: scroll;
}


/* ------------------------ [ Main Content > Header ] ----------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid var(--color-silver);
}


/* ---------- Page Content Header (Common) ---------- */
.page_content_header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.page_content_header h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-black);
}

.page_content_header p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-deepskyblue);
}


/* ---------- Header ---------- */

header {
  margin-bottom: 4rem;
}

/* Header Action btns */
header .head_action_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

header .head_action_btns button {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .head_action_btns .cloud_btn img,
header .head_action_btns .notification_btn img,
header .head_action_btns .user_details_btn .user_icon img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

header .head_action_btns .user_details_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

header .head_action_btns .user_details_btn .user_icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-aliceblue);

}

header .head_action_btns .user_details_btn .down_icon i {
  font-size: 1.4rem;
  color: var(--color-black);
  position: relative;
}