/* -------------------------------------------------------------------------- */
/*                            [ Layout Adjustment ]                           */
/* -------------------------------------------------------------------------- */

@media (max-width: 1024px) {

    /* ---------- [ Hide/Show Components ] ---------- */

    /* Show the components */
    #close_mobile_sidebar_navigation_btn,
    #hamburger_Menu,
    .sidebar_overlay {
        display: initial;
    }

    /* ---------- [ Sidebar Navigation CSS ] ---------- */

    .sidebar_navigation {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 40rem;
        height: 100vh;
        margin: 0;
        border-radius: 0;
        transition: all 0.5s ease;
        max-height: initial;
        /* background: white; */
        box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
    }

    .sidebar_navigation.mob_close {
        left: -40rem;
    }

    .sidebar_navigation.mob_show {
        left: 0;
    }

    /* Overlay for Sidebar */
    .sidebar_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99;
        transition: all 0.3s ease;
    }

    /* Hide overlay when sidebar is closed */
    .sidebar_navigation.mob_close+.sidebar_overlay {
        display: none;
    }

    .sidebar_navigation .sidebar_nav_logo {
        justify-content: start;
        padding: 0 5.4rem;
    }

    #close_mobile_sidebar_navigation_btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    #close_mobile_sidebar_navigation_btn img {
        width: 4rem;
    }


    .sidebar_navigation .nav_list .nav_item {
        height: 5rem;
        padding: 0 2.4rem 0 5.4rem;
        display: flex;
        align-items: center;
        position: relative;
    }

    /* ---------- Main Content > Header ---------- */

    #hamburger_Menu {
        font-size: 2.8rem;
        color: var(--color-deepskyblue);
    }

}





/* -------------------------------------------------------------------------- */
/*                         [ Responsive Font Scaling ]                        */
/* -------------------------------------------------------------------------- */

/* 
10px	62.5%
9.5px	59.375%
9px	    56.25%
8.5px	53.125%
8px	    50%
7.5px	46.875%
7px	    43.75%
6.5px	40.625%
6px	    37.5%
5.5px	34.375%
5px	    31.25%
4.5px	28.125%
4px	    25%
3.5px	21.875%
3px	    18.75% 
*/



/* 10px base */
html {
    font-size: 62.5%;
}

/* 9px base */
@media (max-width: 1920px) {
    html {
        font-size: 56.25%;
    }
}

/* 8.5px base */
@media (max-width: 1760px) {
    html {
        font-size: 53.125%;
    }
}

/* 8px base */
@media (max-width: 1600px) {
    html {
        font-size: 50%;
    }
}

/* 7.5px base */
@media (max-width: 1440px) {
    html {
        font-size: 46.875%;
    }
}

/* 7px base */
@media (max-width: 1280px) {
    html {
        font-size: 43.75%;
    }
}

/* 6.5px base */
@media (max-width: 1024px) {
    html {
        font-size: 40.625%;
    }
}

/* 6px base */
@media (max-width: 768px) {
    html {
        font-size: 37.5%;
    }
}

/* 5.5px base */
@media (max-width: 600px) {
    html {
        font-size: 34.375%;
    }
}

/* 5px base */
@media (max-width: 480px) {
    html {
        font-size: 31.25%;
    }
}

/* 4.5px base */
@media (max-width: 320px) {
    html {
        font-size: 28.125%;
    }
}