/* -------------------------------------------------------------------------- */
/*                         [ Sidebar Navigation CSS ]                         */
/* -------------------------------------------------------------------------- */



.sidebar_navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 32rem;
    border-radius: 2.5rem;
    height: 100%;
    max-height: calc(100vh - 5rem);
    border-radius: 1.7rem;
    background-color: var(--color-deepskyblue);
    box-shadow: var(--shadow-sidebar-navigation);
    transition: width 0.5s ease;
    margin: 3rem 0 3rem 3rem;
  }

  .sidebar_navigation_container {
    overflow-y: auto;
    padding: 4.4rem 0 4.4rem 0;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  
/* ---------- Sidebar Navigation X icon (Mobile) ---------- */
#close_mobile_sidebar_navigation_btn {
    display: none;
    cursor: pointer;
  }
  

  

/* ----- Sidebar Navigation Logo ----- */
.sidebar_navigation .sidebar_nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-white);
    text-decoration:line-through;
  }

  

/* ---------- Sidebar Navigation List ---------- */
.sidebar_navigation .nav_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.8rem;
  }
  
  .sidebar_navigation .nav_list .nav_item {
    height: 3.5rem;
    padding: 0 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .sidebar_navigation.open .nav_list .nav_item {
    padding: 0 4.4rem;
  }
  
  .sidebar_navigation.open .nav_list .nav_item {
    justify-content: start;
  }
  
  .sidebar_navigation .nav_list .nav_item.active::before,
  .sidebar_navigation .nav_list .nav_item:hover::before {
    content: "";
    position: absolute;
    left: 0rem;
    top: 0rem;
    bottom: 0;
    z-index: 1;
    width: 0.5rem;
    background-color: var(--color-white);
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  
  .sidebar_navigation .nav_list .nav_item .link_style {
    width: inital;
    white-space: nowrap;
    display: flex;
    gap: 2rem;
    color: var(--color-white) !important;
    position: relative;
    padding: 0;
    transition: padding 0.5s ease;
  }
  
  .sidebar_navigation.open .nav_list .nav_item .link_style {
    width: 100%;
    padding-left: 0 1.5rem;
  }
  
  .sidebar_navigation .nav_list .nav_item_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .sidebar_navigation .nav_list .nav_item_icon img {
    width: 2.25rem;
  }
  
  .sidebar_navigation.open .nav_list .nav_item_icon img {
    width: 2.5rem;
  }
  
  .sidebar_navigation .nav_list .nav_item_text {
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    cursor: pointer;
  }
  
  .sidebar_navigation.open .nav_list .nav_item_text {
    display: flex;
    align-items: center;
  }


